<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/home">peerxxx</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!auth.loggedIn">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
      <li class="nav-item" *ngIf="!auth.loggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!auth.loggedIn">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" *ngIf="auth.loggedIn">
        <a class="nav-link" routerLink="/home">Logout</a>
      </li>
    </ul>
  </div> 
</nav>
<br>