<app-navigation></app-navigation>
<div class="space">
  <div class="mooncake">
    <div class="attena attena-left">
        <div class="attena-blob">           </div>
    </div>
    <div class="attena attena-right">
        <div class="attena-blob">           </div>
    </div>
    <div class="mooncake-body">
      <div class="white-shade"></div>
      <div class="white-shade-mini"></div>
      <div class="mooncake-eye eye-left"><h1>.</h1></div>
      <div class="mooncake-smile"></div>
      <div class="mooncake-eye eye-right"><h1>.</h1></div>
    </div>
  <div class="mooncake-foot foot-left">
        <div class="mini-shade mini-shade-left"></div>
    </div>
    <div class="mooncake-foot foot-right">
          <div class="mini-shade mini-shade-right"></div>
    </div>
    <div class="dark-shade"></div>
      </div>
</div>